
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/json2.js"></script>

@section Scripts {
    <script>
        function uploadFiles(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();
            formData.append("files", files[0]);
            $.ajax(
                {
                    
                    url: "/Home/GetJsonResult",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            debugger;
                            const byteCharacters = atob(item.textFile);
                            const byteNumbers = new Array(byteCharacters.length);
                            for (let i = 0; i < byteCharacters.length; i++) {
                                byteNumbers[i] = byteCharacters.charCodeAt(i);
                            }
                            const byteArray = new Uint8Array(byteNumbers);
                            var blob = new Blob([byteArray], { type: "application/txt" });// change resultByte to bytes
                            var link = document.createElement("a");
                            link.href = window.URL.createObjectURL(blob);
                            link.download = item.fileName+".txt";
                            link.click();
                        });
                    },
                    error: function (ex) {
                        var r = jQuery.parseJSON(response.responseText);
                        alert("Message: " + r.Message);
                    }

                }

            );

        }
      
    </script>

}
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h2>Royal London Insurance Sample Application</h2>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Upload File</h2>
    </div>
    <div class="col-md-8">
        <div class="upload-button">
            <div class="label">Click me!</div>
            <input id="files" name="files" type="file" size="1" multiple onchange="uploadFiles('files');" />
        </div>
    </div>
</div>
<div class="row">
    <div>
        <table tableid="tblEmployee" class="tblEmployee" id="myTable" >
            <thead>
            </thead>
            <tbody id="tblEmployeetbody" > </tbody>
        </table>
    </div>
</div>

